<div>

  <form  (ngSubmit)="onRestaurantSearch()">
    
<select [formControl]='price' placeholder="Price Point">
<option value='1'>$</option>
<option value='2'>$$</option>
<option value='3'>$$$</option>
<option value='4'>$$$$</option>
</select>

<input [formControl]="location" type=text placeholder="City Name">

<button>FIND A PLACE TO EAT</button>

</form>

</div>

<div *ngIf='results'>
  <ul *ngFor=' let result of results.businesses'>
      <img src={{result.image_url}}>
    <li>Establishment ={{result.name}}</li>
    <li>Street address={{result.location.display_address[0]}}</li>
    <li>{{result.location.display_address[1]}}</li>
    <li>What Damn are they Worth = {{result.rating}}</li>
    <li>Digits of the Phone={{result.display_phone}}</li>
    <li>Ordering Type: {{result.transactions[0]}},{{result.transactions[1]}}</li>
  </ul>
</div>